.contacts {
   @include pageGrid;
  &__title {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -1.5px;
  grid-column: 1 / -1;

   @include onTablet {
    width: 288px;
    grid-column: 2 / 6;
  }
  @include onDesktop {
    width: 411px;
    grid-column: 5 / 9;
  }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
   grid-column: 1 / -1;

  @include onTablet {
    width: 288px;
    grid-column: 4 / 6;
  }
  @include onDesktop {
    width: 411px;
    grid-column: 8 / 10;
  }
  }

  &__input {
  border-radius: 40px;
  width: 277px;
   height: 48px;
   background: #f8f8fa;
   box-sizing: border-box;
    padding-left: 16px;
     margin: 16px auto 0 ;
  grid-column: 1 / -1;

  @include onTablet {
    width: 288px;
    grid-column: 1 / 4;
  }
  @include onDesktop {
    width: 411px;
    grid-column: 1 / 6;
  }
  }

  &__input--message {
    border-radius: 16px;
   width: 277px;
   height: 148px;
   background: #f8f8fa;
   display: flex;
   flex-direction: column;

   font-weight: 400;
   font-size: 14px;
   line-height: 143%;
   color: #7e7e83;

    margin: 16px auto 0 ;
  grid-column: 1 / -1;

  @include onTablet {
    width: 288px;
    grid-column: 1 / 4;
  }
  @include onDesktop {
    width: 411px;
    grid-column: 1 / 6;
  }
  }

  &__button {
   font-weight: 700;
  font-size: 16px;
  line-height: 169%;
  text-decoration: none;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 277px;
  height: 56px;
  background-color: #fff;
  border-radius: 40px;
  margin: 32px auto 0 ;
  grid-column: 1 / -1;

  @include onTablet {
    width: 288px;
    grid-column: 1 / 4;
  }
  @include onDesktop {
    width: 411px;
    grid-column: 1 / 6;
  }
  }
}
