.footer {
  background-image: url(/src/styles/images/footer.svg);
  height: 200px;
  background-position: top;
  background-size: cover;
  position: sticky;
  z-index: -1;
  bottom: 0;

  @include on-desktop {
    height: 480px;
  }

  @include on-tablet {
    height: 555px;
  }
}
