.icon {
  height: 24px;
  width: 24px;
  display: block;
  background-repeat: no-repeat;
  background-size: cn;
  background-position: center;
  transition: transform 0.3s;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url('/src/styles/images/icons/icon-phone.svg');
    text-decoration: none;
    border: 0;
    box-shadow: none;
    position: relative;
  }

  &--number {
    padding-top: 10px;
    width: 150px;
    white-space: nowrap;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;

    position: absolute;
    right: 10px;

    opacity: 0;
    transition: 0.3s;
    &:hover {
      opacity: 1;
    }
  }

  &--menu {
    background-image: url('/src/styles/images/icons/icon-burger.svg');

    @include on-tablet {
      background-image: url('/src/styles/images/icons/icon-burger-menu-hover.svg');
      &:hover {
        background-image: url('/src/styles/images/icons/icon-burger.svg');
      }
    }

    @include on-desktop {
      background-image: url('/src/styles/images/icons/icon-burger-menu-hover.svg');
      &:hover {
        background-image: url('/src/styles/images/icons/Icon-Burger-menu-hover-white.svg');
      }
    }
  }

  &--close {
    background-image: url('/src/styles/images/icons/icon-close.svg');
  }
}
