.main {
  display: grid;
  row-gap: 92px;
  padding-block: 92px;
  background-color: #1d1d1d;
  box-sizing: border-box;

  @include content-padding-inline;

  @include on-desktop {
    max-width: none;
    margin-inline: 0;
  }

  @include on-tablet {
    padding-block: 120px;
    row-gap: 120px;
  }
}
