.product {
  &__photo {
    max-width: 1020px;
    transition: transform 0.3s;
    width: 100%;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__text {
    margin-bottom: 16px;
  }

  &__price {
    font-weight: 700;
  }
}
