.section-title {
  margin: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -1.5px;

  @include onTablet {
    margin-bottom: 64px;
    font-size: 40px;
  }

  @include onDesktop {
    font-size: 48px;
  }
}
.move-free__text {
  margin: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-style: 23px;
  color: #fff;
  line-height: 140%;

  @include onTablet {
    text-align: left;
  }

  @include onDesktop {
    text-align: left;
  }
}
