.move-free {
  @include page-grid;
}

.section-title {
  margin: 0 0 32;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  letter-spacing: -1.5px;
  grid-column: 1 / -1;

  @include on-tablet {
    margin-bottom: 64px;
    font-size: 40px;
    grid-column: 1 / 4;
  }

  @include on-desktop {
    font-size: 48px;
    grid-column: 1 / 6;
  }
}

.section-title__move-free {
  text-align: left;
  margin-bottom: 32px;
}

.move-free__text {
  margin: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-style: 23px;
  color: #fff;
  line-height: 140%;
  grid-column: 1 / -1;

  @include on-tablet {
    text-align: left;
    grid-column: 4 / 7;
  }

  @include on-desktop {
    text-align: left;
    grid-column: 6 / 13;
  }
}
