.the-details {

}

.the-detail {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
  &__photos {
   @include pageGrid;
   margin-bottom: 16px;
  }
  &__link {

    &--wide {
      grid-column: span 8;
      @include onTablet {
        grid-column: span 4;
      }
      @include onDesktop {
       grid-column: span 8;
      }
    }
    &--square {
      grid-column: span 4;

      @include onTablet {
       grid-column: span 2;
      }
      @include onDesktop {
       grid-column: span 4;
      }
    }
  }
  &__photo {
     width: 100%;
   object-fit: cover;
  }
  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 6;
    }

    @include onDesktop {
      grid-column: 1 / 6;
    }
  }

  &__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 169%;
  text-decoration: none;
  color: black;

  display: flex;
  width: 278px;
  height: 56px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  margin-top: 40px;
  grid-column: 1 / -1;

    @include onTablet {
      width: 392px;
       grid-column: 2 / 6;
    }

    @include onDesktop {
      width: 324px;
      grid-column: 5 / 9;
    }
  }

  &__description {
    grid-column: 1 / -1;
    margin: 0;
    line-height: 40px;

    @include onTablet {
      row-gap: 64px;
    }
  }
}
